{% extends 'layout.html' %}
{% block content %}

<div class="container">
  <div class="jumbotron jumbotron-min cover-pull" >
      <p class="h2">
        Open
      </p>
      <p><a class="btn btn-link btn-link-white">Learn more</a></p>
  </div>
  <div class="row">
    <div class="col-lg-8">
      <header>
        <h4>
          精彩
        </h4>
      </header>
    </div>
    <div class="col-lg-3">
      <header>
        <h4>标签</h4>
      </header>
      <div class="well">
        <ul>
          <li>
            <a href="">a</a>
            <a href="">b</a>
            <a href="">c</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

{% endblock %}
