<script src="/socket.io/socket.io.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/bootstrap-material-design/dist/js/material.js"></script>
<script src="/js/socket.js"></script>
<script>
    $(document).ready(function() {
        // This command is used to initialize some elements and make them work properly
        $.material.init();
    });
</script>
<footer class="footer">
  <!-- <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <p>Help Materialize Grow We are a team of college students working
          on this project like it's our full time job. Any amount would help
          support and continue development on this project and is greatly appreciated.
          <input type="text" class="btn btn-info" value="DONATE NOW">
          </p>
      </div>
      <div class="col-lg-4">
        <p>Join the Discussion We have a Gitter chat room set up where you
        can talk directly with us. Come in and discuss new features, future goals,
        general problems or questions, or anything else you can think of.
        <input type="text" class="btn btn-info" value="CHAT">
        </p>
      </div>
      <div class="col-lg-4">
        <h5>Connect</h5>
      </div>
    </div>
  </div>-->
  <div class="footer-copyright">
    <div class="container">
      © 2014-2015 Kee, All rights reserved.
      <a style="float:right;" href="https://github.com/xiaokekeT"><i class="mdi-action-face-unlock"></i>Github</a>
    </div>
  </div>
</footer>
<script src="/build/vendors.js"></script>
<script src="/build/bundle.js"></script>
</body>
</html>