{% block loadjs %}
<!-- <script src="/socket.io/socket.io.js"></script> -->
<!-- <script src="/js/socket.js"></script> -->
<script src="/bower_components/react/react.js"></script>
<script src="/bower_components/react/react-with-addons.js"></script>
<script src="/bower_components/reflux/dist/reflux.js"></script>
<script src="/bower_components/react-router/build/umd/ReactRouter.js"></script>
<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/noty/js/noty/packaged/jquery.noty.packaged.js"></script>
<script src="/build/vendors.js"></script>
<script src="/build/app.entry.js"></script>
{% endblock %}
</body>
</html>