{% include './header.html' %}

{% block content %}
    <p>找不到相应内容</p>
{% endblock %}

{% block loadjs %}
<!-- <script src="/socket.io/socket.io.js"></script> -->
<!-- <script src="/js/socket.js"></script> -->
<script src="/bower_components/react/react.min.js"></script>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/noty/js/noty/packaged/jquery.noty.packaged.js"></script>
<script src="/build/vendors.js"></script>
<script src="/build/app.entry.js"></script>
{% endblock %}
<footer class="footer">
  <div class="footer-copyright">
    <div class="container">
      © 2014-2015 Kee, All rights reserved.
      <a style="float:right;" href="https://github.com/xiaokekeT">Github</a>
    </div>
  </div>
</footer>
{% include './footer.html' %}
