$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import 'config/colors';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';
html,body{
  color: #444;
  background: #f7f7f7;
  overflow-x: hidden;
}
a{
  color:#444;
  &:hover{
    color:#6E6E6E;
  }
}
.navbar{
  margin-bottom: 0;
}
