@import './base.scss';

.main-navigation{
  background: #FFFFFF;
  margin-bottom: 20px;
}
.main-navigation .navbar-default{
  background: none;
  border: 0;
  padding-top: 15px;
  padding-bottom: 11px;
}
.jumbotron-min{
  height: 200px;
}
.jumbotron-max{
  height: 400px;
}
.cover-pull{
  /*background-image: url('https://unsplash.it/1200/400');*/
  background-image: url('/image/cover.jpeg');
  background-size:cover;
  color:white;
}
.footer {
  margin-top: 20px;
  background: rgb(255, 255, 255);
  color:#040204;
}
.footer-copyright {
  font-weight: 300;
  overflow: hidden;
  height: 50px;
  line-height: 50px;
}
.white{
  color:white;
}