@import './base.scss';

.loginBox{
  margin-top: 25px;
  margin-bottom: 25px;
  background-image: url('https://unsplash.it/500/600?random&blur');
  background-size: cover;
  min-height: 400px;
  padding:0;
}
.login-ct{
  position: relative ;
  top: 200px;
}
.form-ct{
  text-align: center;
}
.login-title{
  font-size: 30px;
  position: relative;
  top:100px;
  text-align: center;
  color:white;
}
.input{
  border:0;
  border-bottom: 1px solid white;
  width: 100%;
  height: 37px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  background-color:transparent;
  color: white;
  padding-let:30px;
  transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
  outline: none;
  &:focus{
    border-bottom:1px solid #a2a2a2;
  }
}
.input::-webkit-input-placeholder{
  color:white;
}
.panel-title {
  margin-top: 10px;
  padding: 10px 0 0 10px;
  color: #000000;
}
.team-groups {
  background: white;
  clear: both;
  margin-top: 10px;
}
.team-page{
  min-height: 50px;
  margin: 10px 0 10px 0;
}
.news-box{
  margin-top:10px;
  padding:10px;
  min-height: 600px;
}
.news-items{
  margin-top:30px;
  background: white;
  padding:10px;
  min-height: 300px;
}
.news-panel{
  height:60px;
  line-height: 60px;
  text-align: center;
  background: white;
  &>div{
    padding:0;
    box-sizing: content-box;
    &>a{
      display:block;
      text-decoration: none;
    }
  }
}
.news-item{
  border-bottom: 1px solid #ccc;
  padding: 10px 10px 20px 10px;
}
.news-item:last-child {
  border-bottom: 0;
}
.panel-active{
  border-bottom: 4px solid rgb(111, 158, 221);
  background: #FBFBFB;
}
.card {
  width: 23%;
  float: left;
  margin: 10px 12px 10px 11px;
  min-height: 300px;
  background: white;
  border-radius: 2px;
  box-shadow: 1px 1px 2px #736E6E;
  transition: all 1s;
}
.card-cover {
  height: 260px;
  background: white;
  border-radius: 2px 2px 0 0;
}
.card-text {
  position: relative;
  text-align: center;
  top: 50%;
  color:white;
  font-size: 19px;
  letter-spacing: 2px;
  text-shadow: 1px 1px 1px #515151;
}
.card-info{
  width:90%;
  text-align: center;
  border-top:1px solid #ccc;
  margin: 10px auto 10px auto;
}
.card-info span{
  display: inline-block;
  border-left:1px solid #ccc;
  padding:2px 15px 0 15px;
}
.card-info span:nth-child(1){
  border-left: 0;
}
.mean {
  border-radius: 0 0 2px 2px;
  font-size: 15px;
  border: 0;
}
.example-enter {
  opacity: 0.01;
  transition: opacity .5s ease-in;
}
.example-enter.example-enter-active {
  opacity: 1;
}
.example-leave {
  opacity: 1;
  transition: opacity .5s ease-in;
}
.example-leave.example-leave-active {
  opacity: 0.01;
}
.footer{
  height: 60px;
}
